mix-manifest.json
/doggoProductPublisher/node_modules
/doggoProductPublisher/public/hot
/doggoProductPublisher/public/storage
/doggoProductPublisher/public/js
/doggoProductPublisher/public/css/*.css
/doggoProductPublisher/public/css/*.map
/doggoProductPublisher/public/css/*.gz
/doggoProductPublisher/public/images/*
/doggoProductPublisher/public/images/*.gif
/doggoProductPublisher/public/fonts/
/doggoProductPublisher/public/stats.html
/doggoProductPublisher/storage/*.key
/doggoProductPublisher/vendor
/doggoProductPublisher/public/*.js
/doggoProductPublisher/public/*.js.map
/doggoProductPublisher/.env
/doggoProductPublisher/.idea
/doggoProductPublisher/.phpunit.result.cache
/doggoProductPublisher/Homestead.json
/doggoProductPublisher/Homestead.yaml
/doggoProductPublisher/npm-debug.log
/doggoProductPublisher/yarn-error.log
/doggoProductPublisher/.DS_Store
